body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  background-color: rgba(9, 116, 173, 0.69);
  padding: 2rem 0;
  margin-top: 0;
  width: 100%;
}

.img-container {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.img-container > .image {
  background-color: rgba(162, 81, 196, 0.393);
  width: 100%;
  border: 5px solid rgba(185, 55, 241, 0.503);
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.img-container > div > img {
  height: 15rem;
  width: 13rem;
  margin: 1rem auto;
  border-radius: 1rem;
}

.image > h3 {
  border-bottom: 2px solid rgba(87, 244, 220, 0.734);
  width: 53%;
  margin: 0 auto;
}

.image > p {
  background-color: rgba(101, 98, 98, 0.524);
  color: rgba(255, 255, 255, 0.822);
}

.image > a {
  display: block;
  text-decoration: none;
  background-color: rgb(237, 128, 55);
  width: 13rem;
  margin: 0 auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
}

.image > a:hover {
  box-shadow: 0 0 5px 5px rgba(238, 53, 6, 0.64);
}

.image > p {
  padding: 0 15px;
}

.ic-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(11, 100, 234, 0.763);
  opacity: 0;
  pointer-events: none;
}

.ic-modal:target {
  opacity: 1;
  pointer-events: all;
}

.modal-info {
  background: rgb(244, 124, 43);
  margin: 10rem auto;
  border: 2px solid white;
  width: 50%;
  padding: .5rem .5rem 2rem .5rem;
  margin-top: 10rem;
}

h2 {
  display: inline;
  color: rgba(255, 255, 255, 0.794);
  border-bottom: 5px solid rgb(152, 37, 9);
}

.modal-info > a {
  float: right;
  text-decoration: none;
  background-color: white;
  color: red;
  font-weight: bold;
  border-radius: 30%;
  font-size: 20px;
  padding: 2px;
}

.modal-info > a:hover {
  transform: rotate(360deg);
  transition: ease-in-out .5s;
  background-color: red;
  color: white;
}

.modal-info > img  {
  height: 50%;
  width: 80%;
}

.modal-info > p {
  background-color: pink;
  width: 78%;
  margin: 2rem auto;
  padding: 1rem;
}

.pz-modal {
  background-color: rgba(0, 128, 0, 0.658);
}

.pz-modal-info {
  background-color: rgb(122, 203, 235);
}

.bugs-bunny {
  width: 100%;
  height: 90vh;
}

.container-fluid > div > div p {
  background-color: rgba(155, 150, 150, 0.831);
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.864);
}

.ct-img {
  height: 80%;
  width: 80%;
}

